<!-- INHERITING CONTENT FROM EXISTING FILE BASE.HTML -->
{% extends "base.html"%} 

<!-- PUTTING DATA IN BLOCK(S) PREDEFINED IN BASE.HTML -->
{% block title%}
login
{% endblock %}
 <!-- CLOSING THE BLOCK (MUST BE DONE!!!) -->

<!-- PUTTING DATA IN BLOCK(S) PREDEFINED IN BASE.HTML -->
{%block main_body%}

<main id="main " class="fixed-top">

  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Login Page</h2>
      </div>

    </div>
  </section><!-- End Breadcrumbs Section -->

  <section class="inner-page">
    <div class="container">
      <p>
         Enter the system:
        {% if context%}
        {{context}}
        {% endif %}
        <form action="{{ url_for('login')}}" method="POST" enctype="multipart/form-data">

          <input type="text" name="username" placeholder="Username" required>
          <input type="password" name="password" placeholder="Password" required>
          <input type="submit" value="Кыру">
        </form> 

      </p>
    </div>
  </section>

</main><!-- End #main -->
<!-- CLOSING THE BLOCK (MUST BE DONE!!!) -->
{% endblock %}